# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# pnpm 사용으로 인한 다른 lock파일 무시
package-lock.json
yarn.lock

# testing
/coverage

# next.js
/.next/
/out/

#config
.config
#/config.json

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# local env files
.env*
!.env*.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# gradle
.gradle
.idea

# common vscode setting
.vscode
